@import "~bootstrap/scss/bootstrap";
$fa-font-path:"~fa/../webfonts";
@import "~fa/fontawesome.scss";
@import "~fa/solid.scss";
@import "~fa/regular.scss";
@import "~fa/brands.scss";

[hidden] {
    display: none !important;
}

@include media-breakpoint-up(md){
    .comment-reply{
        margin-left: 2em;
    }
}

.admin-actions, .comment-actions{
    >:not(:last-child) {
        margin-right: 0.4em;
    }
}
.comment-reply{
    margin-left: 0.6em;

    > .card{
            border-top: 0;
            border-right: 0;
            border-bottom: 0;
        }
}

.about{
    li > i {
        margin-right: 0.8em;
    }
}
