@import "~bootstrap/scss/bootstrap";
$fa-font-path:"~fa/../webfonts";
@import "~fa/fontawesome.scss";
@import "~fa/solid.scss";
@import "~fa/regular.scss";
@import "~fa/brands.scss";

[hidden] {
    display: none !important;
}

@include media-breakpoint-up(lg){
    .comment-reply{
        margin-left: 2em;
    }

    .menu-end{
        >:not(:last-child) {
            margin-right: 0.8em;
        }
    }
}

@include media-breakpoint-down(lg){
    .user-area{
        padding: 0.5em 0;
    }

    article.search{
        padding: 0.5em 0;
    }
}

article.search{
    button{
        margin-left: 0.2em;
    }
}

.user-area{
    .fa-user{
        padding: 0.4em;
        border: 1px solid $dark;
        border-radius: 50%;
    }
}

.admin-actions, .comment-actions{
    >:not(:last-child) {
        margin-right: 0.4em;
    }
}
.comment-reply{
    margin-left: 0.6em;

    > .card{
            border-top: 0;
            border-right: 0;
            border-bottom: 0;
        }
}

.about{
    li > i {
        margin-right: 0.8em;
    }
}
